# Byte-compiled Python files
__pycache__/

# Pytest cache files
.pytest_cache/

# Visual Studio Code config file
.vscode

# Pytest coverage file
.coverage

# Build folder
build

# Dist folder
dist

# Conda build folder
conda/build

# Egg folder
*.egg-info

# Docs folder
docs/*
!docs/source

# Conda build folder
conda

# Sphinx template folder
sphinx-templates
